{% extends 'blog/base.html' %}

{% block content %}
    <br><h2>Edit post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  class="img btn btn-default">Save</button>
    </form>
    <p><a class="btn btn-secondary1" href="{% url 'post_list' %}">
        <!-- <span class="glyphicon glyphicon-arrow-left"></span> -->
        <span><img class="img" src="/static/assets/img/arrow_left56.png" alt="Bootstrap" width="48" height="36"></span>
    </a></p>
{% endblock %}

