{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <span class="post-title">{{ post.title }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="post-author"> ({{ post.author }}) </span>
        {% if post.published_date %}
            <span class="date">&nbsp;&nbsp;&nbsp;&nbsp;
                ({{ post.published_date |date:"D d M Y" }}, {{ post.published_date |time:"H:i a" }})
            </span><br>
        {% endif %}

        {% if user.is_authenticated and request.user == post.author %}
            </br>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}
        <p><br>{{ post.text|linebreaksbr }}</p>



        {% if page_obj %}
        <!-- post.ncomments  -->
            <a href="#" class="comment">Comments : {{ post.comments.count }}</a> 

            {% for comment in page_obj %}
            <div class="comment bg-light">
                <p><span class="post-author"> ({{ comment.author }}) </span>&nbsp;&nbsp;
                <span class="date">{{ comment.created_date |date:"D d M Y" }}, {{ comment.created_date |time:"H:i a" }}</span>
                <p><br>{{ comment.text|truncatewords:20|linebreaksbr }}</p>
            </div>
            {% endfor %} 
        
        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"  class="page previous">&laquo;&nbsp; First&nbsp;&nbsp;</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page previous">&#8249;&nbsp; Previous &nbsp;&nbsp;</a>
                {% endif %}
        
                <span class="page current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.&nbsp;&nbsp;
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page previous">Next &nbsp;&#8250; &nbsp;&nbsp;</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page previous">Last &nbsp;&raquo;</a>
                {% endif %}
            </span>
        </div>

        <form action="addcomment" method="POST">{% csrf_token %}
            <label for="newcomment">New Comment :</label><br>
            <!-- <input type="text" id="newcomment" name="newcomment" size="50" maxlength="300">&nbsp;&nbsp;&nbsp;&nbsp; -->
            <textarea name="newcomment" rows="4" cols="50" placeholder="Write your comment ...."></textarea>&nbsp;<br>
            <input type="submit" value="Submit New Comment">
        </form>

        <p><br><a class="btn btn-secondary" href="{% url 'post_list' %}"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
    </div>
{% endblock %}
